.heading1
{
    background-color: slateblue;
    color: white;
    padding: 10px;
    text-align: center;
}

.success, .error, .warning
{
    color: white;
    padding: 10px;
}
.success
{
    background-color: green;
}
.error
{
    background-color: red;
}
.warning
{
    background-color: orange;
}